body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
.dashboard {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(235, 11, 11, 0.1);
}
.stats {
    display: flex;
    justify-content: space-between;
}
.stat-box {
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.stat-box{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

        /* กำหนด layout ของ container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 คอลัมน์ที่มีขนาดเท่ากัน */
    grid-template-rows: 1fr 1fr;    /* 2 แถวที่มีขนาดเท่ากัน */
    gap: 10px; /* ระยะห่างระหว่างกริด */
    height: 100vh; /* กำหนดความสูงเต็มหน้าจอ */
}

/* สไตล์ของแต่ละกริด */
.grid-item {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	background-color: #fff;
}
.chart{
	max-width: 900px;
	height: 450px;
	padding: 50px;
	margin: 0 auto;
}
.chart .chart_types{
	text-align: center;
	margin-bottom: 30px;
}
.chart .chart_types button{
	padding: 10px 25px;
}